{% extends 'adminPages/adminBase.html' %} {% block content %}

<body style="align-content: center;">
    <h2 style="text-align: center;">{% block title %} Have a look at {{ post['rname'] }} {% endblock %}</h2>
    <hr>
    <h4 style="text-align: center;">Your favourite dish.... {{post['rname']}} ......</h4>
    <hr>
    <div class="row" style="align-items: self-end;">
        <img src="{{ post['rimage'] }}" alt="{{ post['rname'] }}" style="border-radius: 50%;margin-left: 80px; margin-right: 30px;" width="200px" height="200px">
        <img src="{{ post['image1'] }}" alt="{{ post['rname'] }}" style="border-radius: 50%; margin-right: 30px;" width="200px" height="200px">
        <img src="{{ post['image2'] }}" alt="{{ post['rname'] }}" style="border-radius: 50%; margin-right: 30px;" width="200px" height="200px">
        <img src="{{ post['image3'] }}" alt="{{ post['rname'] }}" style="border-radius: 50%; margin-right: 30px;" width="200px" height="200px">
    </div>

    <br><br>
    <br><br>
    <hr>
    <br>
    <h3 style="text-align: center;">Description:</h3>

    <p>
        {{post['rdescription']}}
    </p><br><br>
    <h4 style="text-align: center;">.... Ingredients ......</h4>
    <br>
    <hr>

    <p>
        {{post['ringredients']}}
    </p>
    <br><br>
    <hr>

    <h4 style="text-align: center;">.... Procedure. ......</h4>
    <p>
        {{post['rprocedure']}}
    </p>
    <button style="width: 200px;" class="btn btn-primary">
        <a href="{{ url_for('edit', id=post['id']) }}" class="form-group" style="color: white;">Edit</a>
    </button>
    <br><br>

</body>
<p>{{post['content']}}</p><br> {% endblock %}