{% extends "base.html" %}
<title>{% block title %}My Story{% endblock %}</title>
{% block content %}

<div class="container" style="padding: 5%;">

    <h2 style="text-align: center; font-size: 20px; font-weight:200; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        Skyliners Recipes Developer Info
    </h2>


    <!-- <div class="container" id="contributors" style="display: flex; flex: 3; justify-content: space-around;"> -->
    <div class="container">

        <div class="row" style="padding: 5%;">

            <div class="peter" style="display: flex; justify-content: center; align-items: center; background-color: #FAFAFA;">
                <div class="image" style="float: left;  width: 200px;">
                    <img src="https://img.freepik.com/premium-vector/black-man-working-laptop-freelance-work-ffrom-home_254685-476.jpg?size=626&ext=jpg&ga=GA1.1.70922164.1686230612&semt=ais" style="border-radius: 50%; width: 180px; height: 180px; " alt="developers">
                </div>
                <div class="texts" style="float: left;">
                    <h3 style="text-align: center;">Ogola Sospeter</h3>

                    <p>
                        Iam a sole contributor in the project. I am a software engineering enthusiast and I can write programs in the following Languages:
                        <ul style="list-style-type:circle">
                            <li>Python</li>
                            <li>HTML/CSS/Bootstrap Framework</li>
                            <li>Kotlin</li>
                            <li>Jinja</li>
                            <li>Flask Framework</li>
                        </ul>

                    </p>
                    <p style="padding-right: 15px;">
                        I am An <a href="https://www.alxafrica.com/software-engineering/" target="_blank">ALX</a> Software Engineer, currently in the advanced stages and the last streak of Backend Development.. Designing,developing and maintaining applications
                        that meet the needs of end-users remains top in my programming journey. I use programming languages as cited above to solve various design tasks.Ensuring of a quality and well refined system is very impracticable without the testing
                        of the system. The testing phase ensures that loopholes in the system are identified, bugs fixed and user satisfied.as per the project's specifications. I passionately cherish teamwork as it gives one a platform for growth, learning,
                        unlearning and relearning.
                    </p>
                    <p>
                        Looking forward to developing more solutions that will have permanent solutions to the real world problems.
                    </p>
                    <!-- <p style="text-align: center; font-size: large;"> Get in touch:
                        <a href="https://twitter.com/OkongoSospeter" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/ogola-sospeter-5611a41b3" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/OGOLA-SOSPETER" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </p> -->

                </div>
            </div>
        </div>

    </div>

</div>
<footer>

</footer>
{% endblock %}