{% extends 'base.html' %} {% block content %}
<h1 class="heading">{% block title %}THE BREAKFAST BAR{% endblock %}</h1>

<h1 class="recipe-headings">French Toast</h2>
    <div class="recipes">
        <img src="images/breakfast-images/french-toast.jpg" alt="french toast image" class="recimages">
        <div class="ingredients">
            <div class="column-1">
                <h2 class="ingredients-heading">Ingredients</h2>
                <ul class="list">
                    <li>Bread</li>
                    <li>Eggs</li>
                    <li>Milk</li>
                    <li>Salt</li>
                    <li>Flavourings (vanilla extract or cinnamon)</li>
                    <li>Maple syrup</li>
                </ul>
            </div>
            <div class="column-2">
                <h2 class="method-title">Method</h2>
                <ul class="list">
                    <li>Whisk together the eggs, milk, sweetener, vanilla extract</li>
                    <li>Ground cinnamon right into a shallow dish</li>
                    <li>Dip the bread one slice at a time, flip it and remove from the mixture</li>
                    <li>Place the bread slices into the skillet with melted butter set over medium heat.</li>
                    <li>Serve immediately with maple syrup drizzled on top or your syrup of choice.</li>
                    <li>You can also serve with fruit like fresh berries e.g blackberries, blueberries or strawberries</li>
                </ul>
            </div>
        </div>
    </div>

    <h1 class="recipe-headings">Coffee Latte</h1>
    <div class="recipes">
        <img src="images/breakfast-images/Coffee-latte.jpg" alt="coffee-latte" class="recimages">
        <div class="ingredients">
            <div class="column-1">
                <h2 class="ingredients-heading">Ingredients</h2>
                <ul class="list">
                    <li>2 cups of milk</li>
                    <li>1 cup of freshly brewed dark roast espresso coffee</li>
                    <li>Thin layer of frothed milk on top.</li>
                    <li>2 cups of sugar</li>
                    <li>Liquid sweetener</li>
                </ul>
            </div>
            <div class="column-2">
                <h2 class="method-title">Method</h2>
                <ul class="list">
                    <li>Heat milk in a saucepan set over medium-low heat.</li>
                    <li>Whisk briskly with a wire whisk to create foam.</li>
                    <li>Brew espresso and pour into four cups.</li>
                    <li>Pour in milk, holding back the foam with a spoon.</li>
                    <li>Spoon foam over the top.</li>
                </ul>
            </div>
        </div>
    </div>

    <h1 class="recipe-headings">Pancakes</h1>
    <div class="recipes">
        <img src="images/breakfast-images/pancakes-image.jpg" alt="Pancakes" class="recimages">
        <div class="ingredients">
            <div class="column-1">
                <h2 class="ingredients-heading">Ingredients</h2>
                <ul class="list">
                    <li>1 cup all-purpose flour</li>
                    <li>2 tablespoons white sugar</li>
                    <li>2 teaspoons baking powder</li>
                    <li>1 teaspoon salt to taste</li>
                    <li>1 cup milk</li>
                    <li>2 tablespoons vegetable oil</li>
                    <li>1 egg, beaten</li>
                </ul>
            </div>
            <div class="column-2">
                <h2 class="method-title">Method</h2>
                <ul class="list">
                    <li>Combine flour, sugar, baking powder, and salt in a large bowl.</li>
                    <li>Make a well in the center and pour in milk, oil, and egg.</li>
                    <li>Mix until smooth.</li>
                    <li>Heat a lightly oiled griddle or frying pan over medium-high heat.</li>
                    <li>Pour or scoop batter onto the griddle, using approximately 1/4 cup for each pancake</li>
                    <li>Cook until bubbles form and the edges are dry,1 to 2 minutes.</li>
                    <li>Flip and cook until browned on the other side and repeat the same</li>
                </ul>
            </div>
        </div>
    </div>

    <h1 class="recipe-headings">Kiwi Smoothie</h1>
    <div class="recipes">
        <img src="images/breakfast-images/kiwi-smoothie.jpg" alt="Kiwi Smoothie" class="recimages">
        <div class="ingredients">
            <div class="column-1">
                <h2 class="ingredients-heading">Ingredients</h2>
                <ul class="list">
                    <li>½ cup Greek yogurt (or coconut milk for vegan)</li>
                    <li>¼ cup water, plus more as needed</li>
                    <li>2 kiwi</li>
                    <li>2 handfuls baby spinach</li>
                    <li>1 banana and 1 frozen pineapple chunks</li>
                </ul>
            </div>
            <div class="column-2">
                <h2 class="method-title">Method</h2>
                <ul class="list">
                    <li>Peel and chop the kiwi</li>
                    <li>Add all ingredients to the blender</li>
                    <li>Adding the liquids first and breaking the banana into pieces.</li>
                    <li>Blend until smooth, adding more water if necessary</li>
                    <li>Eat immediately or store up to 1 day refrigerated in a covered jar.</li>
                </ul>
            </div>
        </div>
    </div>

    <h1 class="recipe-headings">Egg Toast</h1>
    <div class="recipes">
        <img src="images/breakfast-images/egg-toast.jpg" alt="Egg Toast" class="recimages">
        <div class="ingredients">
            <div class="column-1">
                <h2 class="ingredients-heading">Ingredients</h2>
                <ul class="list">
                    <li>Bread</li>
                    <li>1 tablespoon of mayonnaise, to taste</li>
                    <li>Butter</li>
                    <li>1 large egg</li>
                </ul>
            </div>
            <div class="column-2">
                <h2 class="method-title">Method</h2>
                <ul class="list">
                    <li>Toast your bread until golden brown and crisped around the edges. Smear thin layer of mayonnaise</li>
                    <li>Place a pan over medium heat. Add butter and wait till it melts.</li>
                    <li>Once hot crack the egg into the pan, turn heat to medium low</li>
                    <li>Once cooked transfer the egg onto the toast and serve with preferred beverage.</li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <style>
        .heading {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: xx-large;
        }
        
        .recipe-headings {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            position: relative;
            top: 15px;
            padding-top: 10px;
            text-decoration: underline;
            font-size: xx-large;
            font-weight: 500;
        }
        
        .recimages {
            width: 300px;
            height: 300px;
            object-fit: cover;
            position: relative;
            left: 30px;
            border-radius: 2%;
        }
        
        .recipes {
            position: relative;
            top: 15px;
            display: flex;
            flex-wrap: wrap;
        }
        
        .ingredients {
            position: relative;
            left: 50px;
            top: 10px;
            display: flex;
            flex: content;
        }
        
        .column-1 {
            display: inline-block;
            position: relative;
            left: 60px;
        }
        
        .column-2 {
            display: inline-block;
            position: relative;
            overflow: auto;
            overflow-y: auto;
            overflow-x: auto;
            left: 100px;
        }
        
        .list {
            font-size: larger;
            font-weight: 300;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        li {
            top: 10px;
            margin-top: 10px;
            /* display: flex;  
    flex-wrap: wrap; */
        }
        
        .method-title {
            text-align: center;
        }
        
        .foot-element {
            font-family: 'Times New Roman', Times, serif;
            font-size: large;
            color: black;
            text-align: center;
            padding-top: 40px;
            padding-bottom: 20px;
            position: relative;
            size: 2000px;
            top: 40px;
        }
    </style>
    <footer class="foot-element">
        <p>
            EVERY FLAVOUR TELLS A STORY <br> Tasty food that makes you go yummmmm &#128523; !!!!
        </p>
    </footer>
    {% endblock %}