{% extends 'base.html' %} {% block content %}
<h1>{% block title %}THE DINNER BAR{% endblock %}</h1>

<h1 class="ingredients-heading">Lemon Pepper Chicken Drummies</h1>

<div class="recipes">
    <img src="images/dinner-images/chicken-drummies.jpg" alt="Chicken Drummies" class="recimages">
    <div class="ingredients">
        <h3 class="header-ingredient">Ingredients</h3>
        <ul class="list">
            <li>1 pound chicken drummies</li>
            <li>¼ cup freshly squeezed lemon juice</li>
            <li>All purpose seasoning to taste</li>
            <li>2 tablespoons vegetable oil, or as needed</li>
            <li>2 medium lemons, zested</li>
            <li>Freshly ground black pepper to taste</li>
            <li>1 tablespoon butter</li>
            <li>1 tablespoon of soysauce</li>
        </ul>
    </div>
</div>
<h3 class="method-title">Method</h3>
<div class="method-1">
    <div class="column-1">
        <ul>
            <li>Clean pat dry chicken drummies with paper towels and set into a bowl</li>
            <li>Pour lemon juice evenly over drummies and sprinkle with all purpose seasoning</li>
            <li>Toss until well combined</li>
            <li>Preheat the oven to 375 degrees F (190 degrees C).</li>
            <li>Heat vegetable oil in a cast iron skillet over medium-high heat</li>
            <li>Add drummies to hot oil and cook, turning occasionally, until chicken is cooked through</li>
        </ul>
    </div>
    <div class="column-2">
        <ul>
            <li>Remove cooked drummies from the skillet and transfer into a bowl</li>
            <li>Melt butter in a microwave safe container</li>
            <li>Pour seasoned butter over chicken drummies and mix well</li>
            <li>Mix in lemon zest and black pepper until well combined</li>
            <li>Bake in the preheated oven until skin is crisp</li>
            <li>Remove from oven and sprinkle with additional lemon zest and pepper to taste</li>
        </ul>
    </div>
</div>

<h1 class="ingredients-heading">Fish Recipe</h1>
<div class="recipes">
    <img src="images/dinner-images/fish-image.jpg" alt="Fish-recipe" class="recimages">
    <div class="ingredients">
        <div class="column-1">
            <h2 class="ingredients-heading">Ingredients</h2>
            <ul class="list">
                <li>4 tilapia fillets</li>
                <li>1/4 cup unsalted butter, melted</li>
                <li>2 tablespoons freshly squeezed lemon juice</li>
                <li>2 teaspoons minced garlic</li>
                <li>1/2 teaspoon salt, black pepper and paprika</li>
                <li>Lemon wedges and fresh parsley, for garnish</li>
            </ul>
        </div>
        <div class="column-2">
            <h2 class="method-title">Method</h2>
            <ul class="list">
                <li>Preheat the oven to 400°F (200°C)</li>
                <li>In a bowl,mix melted butter, lemon juice, garlic, salt, black pepper, paprika</li>
                <li>Brush both sides of the fish with the butter mixture.</li>
                <li>Bake in the preheated oven for 10-12 minutes</li>
                <li>Serve hot with lemon wedges and fresh parsley for garnish.</li>
                <li>Enjoy your delicious and healthy baked lemon garlic butter tilapia!</li>
            </ul>
        </div>
    </div>

    <h1 class="ingredients-heading">Meat Recipe</h1>

    <div class="recipes">
        <img src="images/dinner-images/meat-image.jpg" alt="Meat Recipe" class="recimages">
        <div class="ingredients">
            <h3 class="header-ingredient">Ingredients</h3>
            <ul class="list">
                <li>pounds beef stew meat, cut into 1-inch pieces</li>
                <li>¼ cup all-purpose flour</li>
                <li> ½ teaspoon salt</li>
                <li>½ teaspoon ground black pepper</li>
                <li>1 ½ cups beef broth</li>
                <li>4 medium carrots, sliced</li>
                <li> 3 medium potatoes, diced</li>
                <li>1 medium onion, chopped</li>
                <li>1 stalk celery, chopped</li>
            </ul>
        </div>
    </div>
    <h3 class="method-title">Method</h3>
    <div class="method-1">
        <div class="column-1">
            <ul>
                <li>Clean pat dry chicken drummies with paper towels and set into a bowl</li>
                <li>Pour lemon juice evenly over drummies and sprinkle with all purpose seasoning</li>
                <li>Toss until well combined</li>
                <li>Preheat the oven to 375 degrees F (190 degrees C).</li>
                <li>Heat vegetable oil in a cast iron skillet over medium-high heat</li>
                <li>Add drummies to hot oil and cook, turning occasionally, until chicken is cooked through</li>
            </ul>
        </div>
        <div class="column-2">
            <ul>
                <li>Remove cooked drummies from the skillet and transfer into a bowl</li>
                <li>Melt butter in a microwave safe container</li>
                <li>Pour seasoned butter over chicken drummies and mix well</li>
                <li>Mix in lemon zest and black pepper until well combined</li>
                <li>Bake in the preheated oven until skin is crisp</li>
                <li>Remove from oven and sprinkle with additional lemon zest and pepper to taste</li>
            </ul>
        </div>
    </div>

    <h1 class="ingredients-heading">Turkey Recipe</h1>

    <div class="recipes">
        <img src="images/dinner-images/turkey-image.jpg" alt="Turkey Recipe" class="recimages">
        <div class="ingredients">
            <h3 class="header-ingredient">Ingredients</h3>
            <ul class="list">
                <li>3 gallons peanut oil for frying, or as needed</li>
                <li>1 (12 pound) whole turkey, neck and giblets removed</li>
                <li>1 medium onion, chopped</li>
                <li>1 stalk celery, chopped</li>
                <li>2 tablespoons vegetable oil, or as needed</li>
                <li>2 medium lemons, zested</li>
                <li>¼ cup Creole seasoning</li>
                <li>1 medium white onion</li>
            </ul>
        </div>
    </div>
    <h3 class="method-title">Method</h3>
    <div class="method-1">
        <div class="column-1">
            <ul>
                <li>Fill a turkey fryer or large stockpot with enough oil to fry turkey</li>
                <li>Heat oil to 400 degrees F (200 degrees C).</li>
                <li>Layer a large platter with food-safe paper bags.</li>
                <li>Rinse turkey and thoroughly pat dry with paper towels.</li>
                <li>Rub seasoning inside the cavity and all over the outer surfaces</li>
            </ul>
        </div>
        <div class="turkey-column2">
            <ul>
                <li>Make sure the hole at the neck is open at least 2 inches</li>
                <li>Turn off the heat source turkey</li>
                <li>Turn on the heat source and cook, maintaining oil temperature</li>
                <li>Carefully remove the basket from the fryer and drain turkey</li>
                <li>Transfer turkey to the prepared platter to finish draining, 10 to 15 minutes.</li>
            </ul>
        </div>
    </div>
    {% endblock %}