{% extends 'adminPages/adminBase.html' %} {% block content %}
<h3 style="text-align: center;">{% block title %}Nothing to Review Yet \nRelax {% endblock %}</h3>

<div class="row justify-content-center">
    <a href="https://img.freepik.com/free-vector/reviews-concept-landing-page_52683-18630.jpg?size=626&ext=jpg&uid=R68194178&semt=ais">
        <img src="https://img.freepik.com/free-vector/reviews-concept-landing-page_52683-18630.jpg?size=626&ext=jpg&uid=R68194178&semt=ais" alt="Error 404 Image">
    </a>
</div>

<style>
    .row.justify-content-center {
        margin-top: 20px;
    }
</style>

{% endblock %}