{% extends 'adminPages/adminBase.html' %} {% block content %}
<h3 style="text-align: center;">{% block title %}Nothing to Review Yet \nRelax {% endblock %}</h3>

<div class="row justify-content-center">
    <a href="https://img.freepik.com/free-vector/404-error-with-tired-person-concept-illustration_114360-7969.jpg?size=626&ext=jpg&ga=GA1.2.305661174.1670828371&semt=ais">
        <img src="https://img.freepik.com/free-vector/404-error-with-tired-person-concept-illustration_114360-7969.jpg?size=626&ext=jpg&ga=GA1.2.305661174.1670828371&semt=ais" alt="Error 404 Image">
    </a>
</div>

<style>
    .row.justify-content-center {
        margin-top: 20px;
    }
</style>

{% endblock %}