{% extends 'base.html' %} {% block content %}
<h1 style="text-align: center;">{% block title %}THE LUNCH BAR{% endblock %}</h1>

<h2 class="ingredients-heading1">Garlic And Nduja Rice Stuffed Chicken</h2>

<div class="ingredient">
    <img src="images/lunch-images/rice-nduja.jpg" alt="Nduja-rice" class="recimages">
    <div class="side-ingredients">
        <ul class="list">
            <h3 class="header-ingredient">Ingredients</h3>

            <li>4 tbsp olive oil</li>
            <li>1 red onion, finely diced</li>
            <li>5 garlic cloves, crushed</li>
            <li>1½ tbsp cumin</li>
            <li>1 tbsp red pepper flakes</li>
            <li>½ tbsp smoked paprika</li>
            <li>30-40g nduja (or 50g chorizo), depending on how hot you like it</li>
            <li>130g white or wholemeal long-grain rice, rinsed</li>
            <li>60g unsalted butter</li>
            <li>1 lemon, zested</li>
            <li>1 whole chicken (approx 1.5kg)</li>
        </ul>
    </div>
</div>
<h3 class="method-title">Method</h3>
<div class="Recipe-1">
    <div class="column-1">
        <ul>
            <li>Heat half the oil in a large saucepan over medium heat </li>
            <li>Cook the onion for about 10 minutes till soft and turns to brown</li>
            <li>Add the correct amounts of cumin,red pepper flakes,smoked paprika,black pepper and Nduja</li>
            <li>Stir the mixture</li>
            <li>Cook for further five minutes till Nduja releases its oils</li>
            <li>Heat the oven to 200C/180C of a fan/gas </li>
            <li>Mix butter with garlic,lemon zest , cumin and a pinch of salt</li>
        </ul>
    </div>
    <div class="column-2">
        <ul>
            <li>Loosen the skin of the chicken carefully</li>
            <li>Gently push the garlic butter under the skin</li>
            <li>Stuff the cavity with the rice mixture, then tie the legs together to stop it from spilling out</li>
            <li>Rub the skin with the remaining oil and sprinkle with some salt</li>
            <li>Roast the chicken for between 1 hr-1 hr 15 mins until cooked</li>
            <li>Remove from the oven and set aside to rest for 10 mins before carving</li>
            <li> Serve with green vegetables</li>
        </ul>
    </div>
</div>

<!--This is the Second Recipe-->

<h2 class="ingredients-heading">Easy roast pork shoulder</h2>
<div class="ingredient2">
    <img src="images/lunch-images/pork-shoulder.jpg" alt="Pork Shoulder" class="recimages">
    <div class="side-ingredients">
        <ul class="list">
            <h3 class="header-ingredient">Ingredients</h3>
            <li>2kg pork shoulder joint</li>
            <li>1½ tsp fine sea salt</li>
            <li>1 large onion, sliced</li>
            <li>2 tbsp chopped fresh rosemary</li>
            <li>2 garlic cloves</li>
            <li>2 tbsp of cumin</li>
            <li>1/4 cup of olive oil</li>
            <li>1 tbsp of black pepper</li>
            <li>1 tbsp ground cumin</li>
            <li>3 scallions, sliced</li>
            <li>2 tbsp Dijon mustard</li>
            <li>2 tbsp of Tomato Paste</li>
        </ul>
    </div>
</div>
<h3 class="method-title">Method</h3>
<div class="Recipe-2">
    <div class="column-1">
        <ul>
            <li>Heat the oven to 240C/220C fan/gas</li>
            <li>Remove any packaging from the pork, retaining the string, and pat dry with kitchen paper</li>
            <li>Score deep cuts into the skin in a diamond pattern using a sharp knife</li>
            </li>
            <li>Rub the oil into the skin, rubbing it well into each cut</li>
            <li>Sprinkle the salt over in an even layer, rubbing this into the cuts</li>
            <li>Scatter the onion slices over the base of a large roasting tin </li>
        </ul>
    </div>
    <div class="column-2">
        <ul>
            <li>Roast for 20-30 mins, until the skin starts to blister and bubble</li>
            <li>Reduce the oven temperature to 180C/160C </li>
            <li>Roast for another 2 hrs 30 mins,until the meat under the skin is very tender when pressed</li>
            <li>Turn the oven back up to 220C and continue to roast the pork for 20-25 mins</li>
            <li>Remove the pork from the oven and rest for 20 mins in the tin, loosely covering with foil</li>
            <li>Carve the meat and serve alongside your favourite side dishes</li>
        </ul>
    </div>
</div>
<!--This is the Third Recipe-->

<h2 class="ingredients-heading">One-pan lamb with hasselback potatoes</h2>
<div class="ingredient3">
    <img src="images/lunch-images/lambpotatoes.jpg" alt="Lamb Hasselback Potatoes" class="recimages">
    <div class="side-ingredients">
        <h3 class="header-ingredient">Ingredients</h3>
        <ul class="list">
            <li>1 leg of lamb, about 2kg</li>
            <li>2 garlic bulbs</li>
            <li>15 sprigs rosemary</li>
            <li>15 sprigs thyme</li>
            <li>1.7kg medium-sized potatoes (Maris Piper work well), unpeeled</li>
            <li>14 bay leaves</li>
            <li>4 tbsp olive oil</li>
            <li>1 lemon, juiced</li>
            <li>2 garlic cloves</li>
            <li>2 tbsp of cumin</li>
        </ul>
    </div>
</div>
<h3 class="method-title">Method</h3>
<div class="Recipe-3">
    <div class="column-1">
        <ul>
            <li>Use a small, sharp knife to make at least 30 small, deep, incisions all over the lamb</li>
            <li> Halve the garlic bulbs, so that the top of the cloves fall away and at the bottom, they remain attached</li>
            <li>Peel and slice the tops that have fallen away and keep the other halves for later</li>
            <li>Use your fingers to push the slices into each slit</li>
            <li>Pull off small sprigs of rosemary and thyme, keeping the stalks on</li>
            <li>Poke them into the slits,then cover the lamb and chill</li>
            <li>Remove from the fridge 1 hr before roasting</li>
            <li>Heat oven to 210C/190C fan/gas</li>
        </ul>
    </div>
    <div class="column-2">
        <ul>
            <li>Slice the potatoes</li>
            <li>Tip the potatoes into a large roasting tin with the halved garlic bulb</li>
            <li>Drizzle with half the oil and season,toss to coat and turn the potatoes</li>
            <li>Nestle the lamb in the middle of the tin, pushing the potatoes to the outside</li>
            <li>Rub the lamb with the rest of the oil and the lemon juice and season generously</li>
            <li>Roast for 1 hr 30 mins, basting the potatoes till the lamb is dark brown</li>
            <li>Cook for 10 mins or less</li>
            <li>Remove the lamb from the tin and leave to rest for 15 mins,</li>
        </ul>
    </div>
</div>
<!--This is the Fourth Recipe-->

<h2 class="ingredients-heading">Pot-roast beef with French onion gravy</h2>
<div class="ingredient4">
    <img src="images/lunch-images/onion-gravy.jpg" alt="Beef with onion gravy" class="recimages">
    <div class="side-ingredients">
        <h3 class="header-ingredient">Ingredients</h3>
        <ul class="list">
            <li>1kg silverside or topside of beef with no added fat</li>
            <li>2 tbsp olive oil</li>
            <li>8 young carrots, tops trimmed (but leave a little, if you like)</li>
            <li>1 celery stick, finely chopped</li>
            <li>200ml white wine</li>
            <li>600ml rich beef stock</li>
            <li>2 bay leaves</li>
            <li>500g onion</li>
            <li>a few thyme sprigs</li>
            <li>1 tsp butter</li>
            <li>1 tsp light brown or light muscovado sugar</li>
            <li>2 tsp plain flour</li>
        </ul>
    </div>
</div>
<h3 class="method-title">Method</h3>
<div class="Recipe-4">
    <div class="column-1">
        <ul>
            <li>Heat oven to 160C/140C fan/gas </li>
            <li>Rub the meat with 1 tbsp of the oil and plenty of seasoning</li>
            <li>Heat a large flameproof casserole dish and brown the meat all over for about 10 mins</li>
            <li>Add 2 tbsp oil to a frying pan </li>
            <li>Fry the carrots and celery for 10 mins until it turns to golden</li>
            <li>Lift the beef onto a plate, splash,wine into the hot casserole and boil for 2 mins</li>
            <li>Pour in the stock and return the beef</li>
            <li>Then tuck in the carrots, celery and bay leaves</li>
            <li>Cover and cook in the oven for 2 hrs,while slicing onions thinly</li>
            <li>Heat 1 tbsp oil in a pan and stir in the onions, thyme and some seasoning</li>
        </ul>
    </div>
    <div class="column-2">
        <ul>
            <li>Cover and cook gently for 20 mins until the onions are softened but not coloured</li>
            <li>Remove the lid, turn up the heat, add the butter and sugar</li>
            <li>Let the onions caramelise to a dark golden brown, stirring often</li>
            <li>Remove the thyme sprigs, then set aside</li>
            <li>Remove the beef from the casserole and snip off the strings</li>
            <li>Reheat the onion pan, stir in the flour and cook for 1 min</li>
            <li>Whisk the floury onions into the beefy juices in the casserole, to make a thick onion gravy</li>
            <li>Add the beef and carrots back to the casserole</li>
            <li>Slice the beef and bring to the table on a platter,with the carrots to the side</li>
            <li>Spoon the gravy over</li>
        </ul>
    </div>
    {% endblock %}