{% extends 'base.html' %} {% block content %}
<h1 style="text-align: center;">{% block title %}THE SALAD BAR{% endblock %}</h1>

<h1 class="recipe-heading1">Lettuce and Tomato Vegetable Salad</h1>

<div class="recipe-1">
    <img src="images/salad-images/Lettuce-Salad.jpg" alt="Lettuce and Tomato Salad" class="recimages">
    <div class="ingredients1">
        <div class="column-1">
            <h2 class="ingredients-heading">Ingredients</h2>
            <ul class="list">
                <li>1 bowl of chopped lettuce</li>
                <li>1 large tomato</li>
                <li>Olive oil</li>
                <li>1 large onion</li>
                <li>1 avocado to be chopped into pieces</li>
                <li>1 medium sized capsicum</li>
                <li>Salt</li>
                <li>1 large carrot</li>
            </ul>
        </div>

        <div class="column-2">
            <h2 class="method-title">Method</h2>
            <ul class="list">
                <li>Chop the onions and tomatoes</li>
                <li>Mix a pinch of salt in a bowl of water and place the onions</li>
                <li>Let them settle in the water for about 15 minutes</li>
                <li>Drain the water</li>
                <li>Add the sliced capsicum, lettuce, carrots, tomatoes, avocado, and onions</li>
                <li>Add a little salt</li>
                <li>And toss to mix</li>
                <li>Dress with olive oil</li>
            </ul>
        </div>
    </div>
</div>

<h1 class="recipe-heading2">Cucumber Salad</h1>
<div class="recipe-2">
    <img src="images/salad-images/Cucumber-Salad.jpg" alt="Cucumber Salad" class="recimages">
    <div class="ingredients2">
        <div class="column-1">
            <h2 class="ingredients-heading">Ingredients</h2>
            <ul class="list">
                <li>1 large cucumber</li>
                <li>1 large onion</li>
                <li>1 small carrot</li>
                <li>1 serrano pepper</li>
                <li>1/4 cup chopped cilantro</li>
                <li>1/2 teaspoon salt</li>
                <li>2 tablespoon of olive oil</li>
                <li>1 tablespoon of squeezed lemon juice</li>
            </ul>
        </div>
        <div class="column-2">
            <h2 class="method-title">Method</h2>
            <ul class="list">
                <li>Peel the cucumber, get rid of the ends, and slice it into half lengthwise.</li>
                <li>Scrap the seeds off using a grapfruit spoon. A regular spoon can also work</li>
                <li>Cut the cucumber into thin moon-shaped slices</li>
                <li>Peel the carrot and grate it. Alternatively, you can chop it into small pieces</li>
                <li>Cut the end of thr serrano pepper then cyt the pepper in half lengthwise.</li>
                <li>Mix everything in a large bowl</li>
                <li>Cover the bowl with a piece of plastic paper or a dishtowel.</li>
                <li>Let it settle for about 30 minutes and serve</li>
            </ul>
        </div>
    </div>
</div>

<h1 class="recipe-heading3">Cucumber, beetroot and mango salad</h1>
<div class="recipe-3">
    <img src="images/salad-images/Mango-Salad.jpg" alt="Cucumber Beetroot and Mango Salad" class="recimages">
    <div class="ingredients3">
        <div class="column-1">
            <h2 class="ingredients-heading">Ingredients</h2>
            <ul class="list">
                <li>1 large sliced cucumber</li>
                <li>1 large grated beetroot</li>
                <li>1 cup of chopped lettuce</li>
                <li>1 cup of diced mangoes</li>
                <li>1 teaspoon of lemon extract</li>
            </ul>
        </div>
        <div class="column-2">
            <h2 class="method-title">Method</h2>
            <ul class="list">
                <li>Slice the cucumber, grate the beetroot and chop the lettuce</li>
                <li>Use a large bowl to add the mixture</li>
                <li>Sprinkle with the lemon extract and toss</li>
                <li>In a medium-sized bowl, add cucumber, beetroot, lettuce, mango and mix well.</li>
                <li>Sprinkle the lemon extract and toss</li>
            </ul>
        </div>
    </div>
</div>

<h1 class="recipe-heading4">Basic Kenyan Fruit Salad</h1>
<div class="recipe-4">
    <img src="images/salad-images/Kenyan-Fruit-Salad.jpg" alt="Kenyan Fruit Salad" class="recimages">
    <div class="ingredients4">
        <div class="column-1">
            <h2 class="ingredients-heading">Ingredients</h2>
            <ul class="list">
                <li>One large mango medium-sized diced mango</li>
                <li>1/2 fairly sized pawpaw</li>
                <li>1/2 fairly sized diced pineapple and watermelon</li>
                <li>One medium-sized beetroot</li>
                <li>3 large bananas cut into circular slices</li>
                <li>1 avocado slice</li>
            </ul>
        </div>
        <div class="column-2">
            <h2 class="method-title">Method</h2>
            <ul class="list">
                <li>Dice the pineapple, pawpaw, watermelon, and mango.</li>
                <li>Grate the beetroot and cut the bananas into circular pieces</li>
                <li>Slice the avocado in the same way.</li>
                <li>Use a large bowl to add all the ingredients</li>
                <li>Sprinkle some cream to improve taste</li>
                <li>Mix thoroughly and serve</li>
            </ul>
        </div>
    </div>
</div>

<h1 class="recipe-heading5">Avocado with beetroot and carrot salad</h1>
<div class="recipe-5">
    <img src="images/salad-images/Avocado-Carrot-Salad.jpg" alt="Avocado with Beetroot and Carrot Salad" class="recimages">
    <div class="ingredients5">
        <div class="column-1">
            <h2 class="ingredients-heading">Ingredients</h2>
            <ul class="list">
                <li>2 large beetroots to be cooked and 2 to be chopped</li>
                <li>1 large avocado to be chopped</li>
                <li>2 medium-sized carrots</li>
                <li>1 large onion</li>
                <li>2 tablespoons of chopped parsley</li>
                <li>Salt</li>
            </ul>
        </div>
        <div class="column-2">
            <h2 class="method-title">Method</h2>
            <ul class="list">
                <li>Put the avocado in a large bowl</li>
                <li>Add salt.</li>
                <li>Use another small bowl to add the rest of the ingredients.</li>
                <li>Mix well to make a nice dressing.</li>
                <li>Add the dressing to the beetroot avocado mixture and toss.</li>
                <li>Garnish with parsley</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}